jaxrs/providers/jaxb/src/test/java/org/jboss/resteasy/test/nextgen/xxe/namespace/movie.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="favoriteMovie" type="favoriteMovieXmlType">
  </xs:element>
  <xs:complexType name="favoriteMovieXmlType">
     <xs:sequence>
        <xs:element name="title" type="xs:string"/>
     </xs:sequence>
  </xs:complexType>
</xs:schema>
